<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | relative_url }}">
    <link rel="stylesheet" href="/assets/css/flexslider.css">
  </head>
    <!-- Flexslider Scripts
=================================================-->
	<!-- Google CDN Hosted jQuery  -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<!-- Flexslider Library  -->
	<script src="/assets/js/jquery.flexslider-min.js"></script>
	<!-- Initialisation Code  -->
	<script src="/assets/js/app.js"></script>
  <body>
      <header>
        <div class="blog_banner">

        <h1 class="blog_title"><a class="blog_title_link"href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
        <p class='blog_description'>{{ site.description }}</p>
        <ul class="nav">
            <li class="nav_element"><a class="nav_link"href="{% link index.html %}">PROJECTS</a></li>
            <!-- <li class="nav_element"><a class="nav_link"href="{% link blog.html %}">BLOG</a></li> -->
            <li class="nav_element"><a class="nav_link"href="https://www.linkedin.com/in/alix-lily-hottelet-10411b162/">LINKED IN</a></li>
            <li class="nav_element"><a class="nav_link"href="https://twitter.com/AlixHottelet">TWITTER</a></li>
        </ul>
        </div>
        
      </header>
      <section>

      {% for item in paginator.posts %}
      {%if forloop.first%}<ul class="card_container">{%endif%}
        <a class="card" href="{{item.url}}">
            <div class="thumbnail" style="background-image: url({{item.photo}});"alt=""></div>
            <div class="card__line"></div>
            <div class="blogPost_info">
                <li class="blogPosts__item">{{item.title}}</li>
                <p class="blogPosts__date">{{item.postDate}}</p>
                <p class="blogPosts__summary">{{item.summary}}</p>
            </div>
        </a>
          {%if forloop.last%}</ul>{%endif%}
      {% endfor %}
      
      {{content}}
      </section>
      
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>

</html>
