<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | relative_url }}">
  </head>
  
  <body>
      <header>
        <div class="blog_banner">

        <h1 class="blog_title"><a class="blog_title_link"href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
        <p class='blog_description'>{{ site.description }}</p>
        <ul class="nav">
            <li class="nav_element"><a class="nav_link"href="#">ABOUT ME</a></li>
            <li class="nav_element"><a class="nav_link"href="#">PROJECTS</a></li>
            <li class="nav_element"><a class="nav_link"href="#">CONTACT ME</a></li>
          </ul>
        </div>
        
      </header>
      <section>

      {{ content }}

      </section>
      
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
